<%- include("../../layout/sidebar.ejs") %>


<main class="content">
    <div class="header-content">
        <div class="title-section">
            <a href="/admin/list-aset">
                <button class="back-button">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
            </a>
            <h3>[Nama Kategori]</h3>
        </div>
    </div>
</main>

<script>

</script>

</body>
</html>