<%- include("../../layout/sidebar.ejs") %>


<main class="content">
    <div class="header-content">
        <div class="title-section">
            <a href="/admin/list-aset">
                <button id="" style="display: flex; align-items: center;">
                    <i class="fa-solid fa-arrow-left" style="font-weight: bold; font-size: 20px; margin-right: 10px;"></i>
                    <span style="font-size: 24px; font-weight: bold; font-family: Raleway;">[Nama Kategori]</span>
                </button>
            </a>
        </div>
    </div>

    <body>
        <div class="container-fluid px-4">
            <div class="container2">
                <img alt="Placeholder image for product" height="150" src="https://placehold.co/100x100" width="200"/>
                <div class="details">
                    <p>[Nama Aset]</p>
                    <p>[IP Address]</p>
                    <p>[Cara Dapat]</p>
                    <p>[Kondisi Aset]</p>
                </div>
            </div>
        </div>
    </body>
</main>

<script>

</script>

</body>
</html>