.lord-icon {
  --icon-primary-color: white;
  --icon-secondary-color: white;
  transition: all 0.3s ease;
}

.lord-icon:hover {
  --icon-primary-color: black;
  --icon-secondary-color: black;
}

.lord-icon:active {
  --icon-primary-color: black;
  --icon-secondary-color: black;
}

.sidebar {
  background-color: #B60017;
  color: white;
  width: 230px;
  height: calc(100vh - 16px); /* Mengurangi tinggi agar ada jarak di bawah */
  position: fixed;
  top: 8px; /* Jarak dari atas */
  left: 8px; /* Jarak dari kiri */
  right: 8px; /* Jarak dari kanan */
  bottom: 8px; /* Jarak dari bawah */
  overflow-y: auto;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 8px;
  
}

.sidebar header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.sidebar header img {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
}

.sidebar header h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 5px 0;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.sidebar a:hover {
  background-color: white;
  color: black;
}

.content {
  margin-left: 250px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  height: calc(100vh - 16px); /* Mengurangi tinggi agar ada jarak di bawah */
  border-radius: 25px;
  position: fixed;
  top: 8px; /* Jarak dari atas */
  left: 0px; /* Jarak dari kiri */
  right: 8px; /* Jarak dari kanan */
  bottom: 8px; /* Jarak dari bawah */
  overflow-y: auto; /* Menambahkan kemampuan scroll vertikal */
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Agar tidak ada scroll horizontal */
}


.header-content {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 16px; 
  padding-left: 20px;
  
}

.header-content h3 {
  font-weight: 500;
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

/* Font for body text */
body, p, span, label, input, button {
font-family: 'Montserrat', sans-serif;
}

/*pengembalian aset*/
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
.container {
  width: 95%;
  margin: 20px auto;
}
.tabButton {
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px 10px;
background-color: #fff;
border-radius: 50px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
width: 100%; /* Mengisi seluruh lebar header */
margin-bottom: 1%;
}

.button {
flex: 1; /* Membuat tombol mengisi ruang yang ada */
text-align: center; /* Menyusun teks di tengah */
padding: 10px 0;
border-radius: 50px;
cursor: pointer;
font-weight: bold;
transition: background-color 0.3s, color 0.3s;
text-decoration: none; /* Menghapus underline default pada link */
}

/* Style untuk button yang aktif */
.button.active {
background-color: #d32f2f;
color: #fff;
}

/* Style untuk button yang tidak aktif */
.button.inactive {
background-color: #fff;
color: #000;
}

/* Efek saat hover */
/* .button:hover {
background-color: #d32f2f;
color: #fff;
} */

/* Efek saat button dalam keadaan aktif
.button:active {
background-color: #b71c1c; 
color: #fff;
} */

.header h1 {
  margin: 0;
  font-size: 24px;
}
.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
}
.search-bar input {
  border: none;
  outline: none;
  padding: 5px;
}
.search-bar i {
  color: #ccc;
}
.tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.tab {
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
}
.tab.active {
  background-color: #d32f2f;
  color: #fff;
}
.tab.inactive {
  background-color: #f5f5f5;
  color: #000;
}
.table-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: center; 
}

th {
  background-color: #fff; 
  color: #000; 
  font-weight: bold; 
}

thead {
  background-color: #fff; 
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

tr:nth-child(odd) {
  background-color: #ffecec;
}

th:first-child, td:first-child {
  width: 5%; 
}


.btn {
  background-color: #C2EF97;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  weight : 40px;
  font-weight: bold;
}
.btn i {
  margin-right: 5px;
}
td {
text-align: center;
vertical-align: middle;
}

td img {
max-width: 100px;
max-height: 100px;
display: block;
margin: 0 auto;
}

td button {
display: inline-flex;
justify-content: center;
align-items: center;
padding: 10px 20px;
cursor: pointer;
border: none;
background-color: #C2EF97;
color: white;
border-radius: 5px;
}

td button i {
margin-right: 5px;
}
.table-container {
background-color: #fff;
border-radius: 14px; /* Rounded corners */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
overflow-x: auto;
}


@media (max-width: 768px) {
  .header h1 {
      font-size: 20px;
  }
  .tabs {
      flex-direction: column;
  }
  .tab {
      margin: 5px 0;
  }
}

/* Style untuk modal */
.popup-modal {
  display: none; /* Menyembunyikan modal secara default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  margin-top: 15px;
  padding: 10px;
  background-color: #C2EF97;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #A1D27D;
}

.left-label {
  display: block;        
  margin-bottom: 5px;    
      
  text-align: left;      
}

#popupModal h3 {
  font-size: 20px;  
  font-weight: bold; 
  padding : 7%
}

.cancel-btn {
  background-color: #CACACA;
  color: black;
  margin-top: 15%;
  text-align: left;
  float: right;
  margin-left: 10px; 
}

.finish-btn {
  background-color: #C2EF97;
  color: black;
  margin-top: 15%;
  float: right;
  text-align: left;
}

.cancel-btn:hover {
  background-color: #CACACA;
}

.finish-btn:hover {
  background-color: #C2EF97;
}

      /* Font for headings */
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      a {
        font-family: "Raleway", sans-serif;
      }

      /* Font for body text */
      body,
      p,
      span,
      label,
      input,
      button {
        font-family: "Montserrat", sans-serif;
      }

      #topbar {
        font-size: small;
        font-weight: bold;
      }

