<%- include("../../layout/sidebar.ejs") %>

<main class="content">
    <div class="header-content">
        <h3 style="font-weight: bold;">Detail Pemeliharaan Aset</h3>
        <div class="header-content">
            <div class="search-bar" style="margin-right: 30px;">
                <input placeholder="Search..." type="text"/>
                <i class="fas fa-search"></i>
            </div>
            <div class="button-selesai">
                <button>
                    <i class="fa-solid fa-check"></i> Selesai
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid px-4">
        <div class="table-responsive">
            <table class="table-compact">
                <thead>
                    <tr>
                        <th width="15%">No</th>
                        <th width="20%">Gambar Aset</th>
                        <th width="15%">Serial Number</th>
                        <th width="15%">Nama Aset</th>
                        <th width="15%">Kondisi Aset</th>
                        <th width="15%">Aksi</th>
                    </tr>
                </thead>
            </table>
            <div class="table-scroll">
                <table class="table-compact">
                    <tbody>
                        <% for (let i = 1; i <= 10; i++) { %>
                        <tr>
                            <td width="15%"><%= i %></td>
                            <td width="20%">
                                <img class="img-fluid" alt="Bukti Gambar" src="https://placehold.co/100x100" />
                            </td>
                            <td width="15%">Lorem Ipsum</td>
                            <td width="15%">Lorem Ipsum</td>
                            <td width="15%">Lorem Ipsum</td>
                            <td width="15%">
                                <button style="background-color: #FBDA00; padding: 12px; padding-right: 7px;  font-size: 18px; border: 2px solid #FBDA00; border-radius: 15px; color: #fff; cursor: pointer;">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    </button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
        </div>
        </div>
        </div>
</main>



</body>
</html>