<%- include("../../layout/sidebar.ejs") %>

<main class="content">
    <div class="header-content">
        <td>
            <a href="asetGudang">
            <button id="" style="display: flex; align-items: center;">
                <i class="fa-solid fa-chevron-left" style="font-weight: bold; font-size: 20px; margin-right: 10px;"></i> 
                <span style="font-size: 21px; font-weight: bold;">Detail Aset</span>
            </button>
            </a>
        </td>
     </div>


    <body>
        <div class="container2" style="width: 100%; height: 100%; border: 1px solid #ccc; display: flex; align-items: flex-start; padding: 20px; position: relative;">
            <div class="custom-td" style="position: absolute; top: 10px; right: 20px; font-size: 14px; color: #333;">
                <span class="custom-span">Kondisi Aset</span>
            </div>
            <img alt="Placeholder image for product" height="150" src="https://placehold.co/100x100" width="200" style="margin-right: 20px;"/>
            <div class="details">
                <p>[Serial Number]</p>
                <p>[Nama Barang]</p>
                <p>[Kategori]</p>
                <p>[Deskripsi]</p>
            </div>
        </div>


    </body>
   </html>
   



 