<!DOCTYPE html>
<html lang="en" data-preline>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIMAW</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/css/template.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
  <script src="https://cdn.lordicon.com/lordicon.js"></script>
</head>
<body style="padding: 36px; background-color: #f7f7f5;">
<div class="sidebar flex justify-center">

<!-- Sidebar -->
<div id="hs-sidebar-basic-usage" class="hs-overlay [--auto-close:lg] lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 w-64
hs-overlay-open:translate-x-0
-translate-x-full transition-all duration-300 transform
fixed top-0 start-0 bottom-0 z-[60]
bg-[#B60017] border-e border-gray-200 dark:bg-neutral-00 dark:border-neutral-700 rounded-lg" role="dialog" tabindex="-1" aria-label="Sidebar" style="margin: 8px; margin-bottom: 8px;">
  <div class="relative flex flex-col h-full max-h-full">
      <!-- Header -->
      <header class="p-4 flex flex-col items-center justify-center">
        <!-- Logo -->
        <img src="/image/logo.png" alt="Website Logo" style="width:75px;height:75px">
        <!-- Nama Web -->
        <h1 class="text-white text-xl font-semibold dark:text-white">SIMAW</h1>
      </header>
      <!-- End Header -->

      <!-- Body -->
      <nav class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">
        <div class="pb-0 px-2 w-full flex flex-col flex-wrap">
          <ul class="space-y-1">
            <!-- Sidebar list items -->
            <li>
              <a class="flex items-center gap-x-3 py-2 px-2.5 text-sm text-white rounded-lg
                       hover:bg-white hover:text-black focus:bg-white focus:text-black
                       dark:text-white dark:hover:text-black dark:hover:bg-white"
                 href="#"
                 onmouseover="this.querySelector('lord-icon').setAttribute('colors', 'primary:#000000')"
                 onmouseout="this.querySelector('lord-icon').setAttribute('colors', 'primary:#ffffff')">
                <lord-icon
                  src="https://cdn.lordicon.com/cnpvyndp.json"
                  trigger="hover"
                  colors="primary:#ffffff"
                  style="width:24px;height:24px">
                </lord-icon>
                Dashboard
              </a>
            </li>
            <li>
              <a class="flex items-center gap-x-3 py-2 px-2.5 text-sm text-white rounded-lg
                       hover:bg-white hover:text-black focus:bg-white focus:text-black
                       dark:text-white dark:hover:text-black dark:hover:bg-white"
                 href="#"
                 onmouseover="this.querySelector('lord-icon').setAttribute('colors', 'primary:#000000')"
                 onmouseout="this.querySelector('lord-icon').setAttribute('colors', 'primary:#ffffff')">
                <lord-icon
                  src="https://cdn.lordicon.com/zyzoecaw.json"
                  trigger="morph"
                  state="morph-book"
                  colors="primary:#ffffff"
                  style="width:24px;height:24px">
                </lord-icon>
                Pengelolaan Aset
              </a>
            </li>
           
            <li>
              <a class="flex items-center gap-x-3 py-2 px-2.5 text-sm text-white rounded-lg
                       hover:bg-white hover:text-black focus:bg-white focus:text-black
                       dark:text-white dark:hover:text-black dark:hover:bg-white"
                 href="#"
                 onmouseover="this.querySelector('lord-icon').setAttribute('colors', 'primary:#000000')"
                 onmouseout="this.querySelector('lord-icon').setAttribute('colors', 'primary:#ffffff')">
                <lord-icon
                  src="https://cdn.lordicon.com/xtnsvhie.json"
                  trigger="hover"
                  colors="primary:#ffffff"
                  style="width:24px;height:24px">
                </lord-icon>
                Permintaan Aset
              </a>
            </li>
           
            <li>
              <a class="flex items-center gap-x-3 py-2 px-2.5 text-sm text-white rounded-lg
                       hover:bg-white hover:text-black focus:bg-white focus:text-black
                       dark:text-white dark:hover:text-black dark:hover:bg-white"
                 href="#"
                 onmouseover="this.querySelector('lord-icon').setAttribute('colors', 'primary:#000000')"
                 onmouseout="this.querySelector('lord-icon').setAttribute('colors', 'primary:#ffffff')">
                <lord-icon
                  src="https://cdn.lordicon.com/vdjwmfqs.json"
                  trigger="hover"
                  colors="primary:#ffffff"
                  style="width:24px;height:24px">
                </lord-icon>
                Penyerahaan Aset
              </a>
            </li>
           
            <li>
              <a class="flex items-center gap-x-3 py-2 px-2.5 text-sm text-white rounded-lg
                       hover:bg-white hover:text-black focus:bg-white focus:text-black
                       dark:text-white dark:hover:text-black dark:hover:bg-white"
                 href="#"
                 onmouseover="this.querySelector('lord-icon').setAttribute('colors', 'primary:#000000')"
                 onmouseout="this.querySelector('lord-icon').setAttribute('colors', 'primary:#ffffff')">
                <lord-icon
                  src="https://cdn.lordicon.com/oqdmuxru.json"
                  trigger="hover"
                  colors="primary:#ffffff"
                  style="width:24px;height:24px">
                </lord-icon>
                Pengembalian Aset
              </a>
            </li>
           
            <li>
              <a class="flex items-center gap-x-3 py-2 px-2.5 text-sm text-white rounded-lg
                       hover:bg-white hover:text-black focus:bg-white focus:text-black
                       dark:text-white dark:hover:text-black dark:hover:bg-white"
                 href="#"
                 onmouseover="this.querySelector('lord-icon').setAttribute('colors', 'primary:#000000,secondary:#000000')"
                 onmouseout="this.querySelector('lord-icon').setAttribute('colors', 'primary:#ffffff,secondary:#ffffff')">
                <lord-icon
                  src="https://cdn.lordicon.com/fwkrbvja.json"
                  trigger="hover"
                  stroke="bold"
                  colors="primary:#ffffff,secondary:#ffffff"
                  style="width:25px;height:25px">
                </lord-icon>
                Pengajuan Cek
              </a>
            </li>
           
            <li>
              <a class="flex items-center gap-x-3 py-2 px-2.5 text-sm text-white rounded-lg
                       hover:bg-white hover:text-black focus:bg-white focus:text-black
                       dark:hover:text-black dark:hover:bg-white"
                 href="#"
                 onmouseover="this.querySelector('lord-icon').setAttribute('colors', 'primary:#000000')"
                 onmouseout="this.querySelector('lord-icon').setAttribute('colors', 'primary:#ffffff')">
                <lord-icon
                  src="https://cdn.lordicon.com/rsbokaso.json"
                  trigger="hover"
                  colors="primary:#ffffff"
                  style="width:24px;height:24px">
                </lord-icon>
                Pengembalian Vendor
              </a>
            </li>
           
            <li class="mb-10">
              <a class="flex items-center gap-x-3 py-2 px-2.5 text-sm text-white rounded-lg
                       hover:bg-white hover:text-black focus:bg-white focus:text-black
                       dark:hover:text-black dark:hover:bg-white"
                 href="#"
                 onmouseover="this.querySelector('lord-icon').setAttribute('colors', 'primary:#000000')"
                 onmouseout="this.querySelector('lord-icon').setAttribute('colors', 'primary:#ffffff')">
                <lord-icon
                  src="https://cdn.lordicon.com/abfverha.json"
                  trigger="hover"
                  colors="primary:#ffffff"
                  style="width:24px;height:24px">
                </lord-icon>
                Pemeliharaan Aset
              </a>
            </li>
           
            <li class="mb-10">
              <a class="flex items-center gap-x-3 py-2 px-2.5 text-sm text-white rounded-lg
                       hover:bg-white hover:text-black focus:bg-white focus:text-black
                       dark:hover:text-black dark:hover:bg-white"
                 href="#"
                 onmouseover="this.querySelector('lord-icon').setAttribute('colors', 'primary:#000000,,secondary:#000000')"
                 onmouseout="this.querySelector('lord-icon').setAttribute('colors', 'primary:#ffffff,secondary:#ffffff')">
                <lord-icon
                  src="https://cdn.lordicon.com/gwvmctbb.json"
                  trigger="hover"
                  stroke="bold"
                  colors="primary:#ffffff,secondary:#ffffff"
                  style="width:24px;height:24px">
                </lord-icon>
                Keluar
              </a>
            </li>

            
            
          </ul>
        </div>
      </nav>
      <!-- End Body -->
  </div>
</div>
<!-- End Sidebar -->
</div>



</body>

</html>