<%- include("../../layout/sidebar.ejs") %>

<main class="content">
    <div class="header-content">
        <td>
            <button id="">
                <i class="fa-solid fa-chevron-left" style="font-weight: bold; font-size: 18px; margin-right: 5px;"></i> 
                <span style="font-size: 21px; font-weight: bold;">Detail Pengecekan</span>
            </button>
        </td>
     </div>


    <body>
     <div class="container2">
      <img alt="Placeholder image for product" height="150" src="https://placehold.co/100x100" width="200"/>
      <div class="details">
       <p>
        [Serial Number]
       </p>
       <p>
        [Nama Barang]
       </p>
       <p>
        [Kategori]
       </p>
       <p>
        [Deskripsi]
       </p>
      </div>
     </div>

     <div class="user-container">
      <p>
       [Nama User]
      </p>
      <p>
       [Keluhan]
      </p>
     </div>
    </body>
   </html>
   



 