<%- include("../../layout/sidebar.ejs") %>

<main class="content">
    <div class="header-content">
        <td>
            <a href="permintaanAset">
            <button id="" style="display: flex; align-items: center;">
                <i class="fa-solid fa-chevron-left" style="font-weight: bold; font-size: 20px; margin-right: 10px;"></i> 
                <span style="font-size: 21px; font-weight: bold;">Detail Permintaan Aset</span>
            </button>
            </a>
        </td>
     </div>

    <body>
        <div class="container2">
            <img alt="Placeholder image for product" height="150" src="https://placehold.co/100x100" width="200"/>
            <div class="details">
                <p>[Serial Number]</p>
                <p>[Nama Barang]</p>
                <p>[Kategori]</p>
                <p>[Deskripsi]</p>
            </div>
        </div>
        <div class="user-container">
            <p>[Tanggal]</p>
            <p>[Nama Karyawan]</p>
            <p>[Unit Kerja]</p>
            <p>[Status Permintaan]</p>
        </div>
        


    </body>
   </html>
   



 